name: Publish to npm
on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-node@v4
              with:
                node-version: '24'
                registry-url: https://registry.npmjs.org/

            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: 1.3.9
                  no-cache: false

            - name: Install deps
              run: bun install --frozen-lockfile

            - name: Run tests
              run: bun run test

            - name: Build
              run: bun run build

            - name: Push to npm
              run: npm publish --provenance
