# Publish to npm whenever a tag is pushed
name: Publish to npm
on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v6
            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: 1.3.8
                  no-cache: false
                  registries: |
                      https://registry.npmjs.org/

            - name: Install deps
              run: bun ci

            - name: Run tests
              run: bun run test

            - name: Push to npm
              run: bun publish
